<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div class="container">
  <div class="table-section">
    <div class="p-d-flex p-jc-end p-mb-2">
      <p-button type="button" label="Add Product" icon="pi pi-plus" (click)="openNew()"></p-button>
    </div>

    <p-table [value]="products" [responsiveLayout]="'scroll'"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.category}}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" (click)="editProduct(product)"></button>
            <button pButton type="button" icon="pi pi-trash" (click)="deleteProduct(product)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog header="Product Details" [(visible)]="productDialog" [style]="{width: '300px'}" [modal]="true" [closable]="false" [baseZIndex]="10000">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name" pInputText />
          <small *ngIf="submitted && productForm.controls['name'].errors?.['required']" class="p-error">Name is required.</small>
        </div>
        <div class="p-field">
          <label for="price">Price</label>
          <input id="price" type="number" formControlName="price" pInputText />
          <small *ngIf="submitted && (productForm.controls['price'].errors?.['required'] || productForm.controls['price'].errors?.['min'])" class="p-error">
            Price is required and must be a positive number.
          </small>
        </div>
        <div class="p-field">
          <label for="category">Category</label>
          <p-dropdown id="category" formControlName="category" [options]="categories" placeholder="Select a category" appendTo="body"></p-dropdown>
          <small *ngIf="submitted && productForm.controls['category'].errors?.['required']" class="p-error">Category is required.</small>
        </div>
        <p-footer>
          <p-button type="submit" label="Save" ></p-button>
          <p-button type="button" label="Cancel" (click)="hideDialog()"></p-button>
        </p-footer>
      </form>
    </p-dialog>
  </div>

  <div class="chart-section">
    <ngx-charts-bar-vertical
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Name'"
      [yAxisLabel]="'Price'">
    </ngx-charts-bar-vertical> 
  </div>
</div>
